<h2>DUDE! <%= @band.name.upcase %>?! I LOVE THEM TOO!</h2>

<a href="/bands">Go back to the list of bands that ROCK!</a>

<h4><%= @band.name %> has rocked the following venues:</h4>

<% if @venue == nil %>
<% else %>
  <p>You successfully added the venue <%= @venue.name %> to <%= @band.name %>!</p>
<% end %>

<ul>
  <% @band.venues.each do |venue| %>
    <li><%= venue.name %></li>
  <% end %>
</ul>

<h4>You know what would be REALLY cool though? If <%= @band.name %> played at one of these venues:</h4>

<ul>
  <% @venues.each do |venue| %>
      <% if venue.bands == [] %>
        <li>
          <%= venue.name %>
          <ul><a href="/<%= venue.id %>/<%= @band.id %>/add_venue_band">Click here to have <%= @band.name %> play at <%= venue.name %>!</a></ul>
        </li>
      <% else %>
      <% end %>
  <% end %>
</ul>

<p>Or maybe you found a cool new venue that <%= @band.name %> can play at someday?</p>

<form action="/add_venue/<%= @band.id %>" method="post">
  <label for="venue_name">Enter a new venue here:</label>
  <input id="venue_name" name="venue_name" type="text">
  <button type="submit">add that venue!</button>
</form>

<h4>Was this band only going through a phase? Change the name of the band below:</h4>

<form action='/band/<%= @band.id %>/edit' method='post'>
  <input name="_method" type="hidden" value="patch">
  <label for "name">Rename this band:</label>
  <input id="name" name="name" type="text">
  <button type="submit">Update this band</button>
</form>

<h4>Is <%= @band.name %> breaking up?!? If they must go their separate ways...</h4>

<form action='/band/<%= @band.id %>/delete' method="post">
  <input name="_method" type="hidden" value="delete">
  <button type="submit">Delete this band :(</button>
</form>
